.content{
    margin:0 auto;
    margin-top:100px;
    width:60%;
}


.info{
    font-size:20px;
    text-align:left;
    color:rgb(27, 27, 27);
    width:90%;
    margin:0 left;
    margin-top:20px;
    line-height: 1.5;
}

/* #titleBar #logo:hover{
    color:rgb(184, 184, 184);
}

#titleBar .option:hover:not(.clicked){
    color:rgb(184, 184, 184);
} */

.intro1{
    font-size:60px;
}

img{
    width:100%;
    margin:auto 0;
}

.article{
    width:100%;
}