.content{
    margin:0 auto;
    margin-top:100px;
    width:60%;
}
#titleBar{
    /* background-color:white; */
    background-color:white !important;
    color:black !important;
}

.info{
    font-size:20px;
    text-align:left;
    color:rgb(27, 27, 27);
    width:90%;
    margin:0 left;
    margin-top:20px;
    line-height: 1.5;
}

li{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(36, 36, 36);
    line-height: 1.5;
    margin-top:24px;
}

#titleBar #logo:hover{
    color:rgb(184, 184, 184);
}

#titleBar .option:hover:not(.clicked){
    color:rgb(184, 184, 184);
}

.intro1{
    font-size:60px;
}

img{
    width:100%;
    margin:auto 0;
}

.article{
    width:100%;
}