
.headingBackground{
    width:100%;
    background-color:rgb(0, 119, 255);
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.spacer{
    padding:80px;
    background-color:rgb(0, 119, 255);
}

.headings{
    width:600px;
    padding:50px;
    order:0;
}

.flexFrontImg{
    order:1;
    flex: 'flex-shrink';
}

.frontImage{
    width:100%;
    max-width:500px;
    padding:50px;
}

.bannerImg{
    border:solid 5px transparent;
    border-radius:10px;
}

.flexLitre{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
    margin-top:100px !important;
}

.textFlex{
    order:0;
    flex-shrink:1;
    width:50%;
}

.imgFlex{
    order:1;
    flex-shrink:1;
    width:300px;
}

.intro1{
    font-size:60px;
    color:rgb(255, 230, 0);
    margin:0 auto;
    /* text-shadow:1px 1px grey; */
}

.intro2{
    font-size:60px;
    color:rgb(9, 230, 1);
    /* text-shadow:1px 1px grey; */
}

.intro3{
    font-size:60px;
    color:white;
    /* text-shadow:1px 1px grey; */
}

img{
    width:100%;
    margin:auto 0;
    padding:0px;
}

#intro{
    background-color: #cccccc; 
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/waterfall.jpg");
    background-size:cover;
    overflow:hidden;    
    color:white;
    text-align:center;
    height:100%;
}

.subtitle{
    font-size:36px;
    margin:0px;
    padding-top:50px;
}

.filters{
    background-color: #cccccc; 
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/filters.jpg");
    background-size:cover;
    overflow:hidden;
    color:white;
    text-align:center;
    height:100%;
}

.background{
    padding:5px;
    margin:0 auto;
    width:50%;
}


.text{
    margin:0 auto;
    width:80%;
}

.background p{
    color:black;
}

.background .subtitle{
    color:rgb(9, 230, 1);
}

.flag{
    width:30px;
}

@media all and (max-width: 800px) {
    .text{
        width:95%;
    }
    .spacer{
        padding:40px;
    }
    .headings{
        width:600px;
        padding:50px;
        order:0;
    }
    .intro1{
        font-size:40px;
        color:rgb(255, 230, 0);
        margin: 0;
    }
    
    .intro2{
        font-size:40px;
        color:rgb(115, 255, 0);
    }
    
    .intro3{
        font-size:40px;
        color:white;
    }
    
    .background{
        padding:5px;
        margin:0 auto;
        width:95%;
    } 
    .frontImage{
        padding:0px;
    }

    .textFlex{
        width:95%;
    }
}
