
.headingBackground{
    width:100%;
    background-color:rgb(0, 119, 255);
}

.spacer{
    padding:40px;
    background-color:rgb(0, 119, 255);
}

.headings{
    padding:10px;
}

.index_head1{
    font-size:60px;
    color:white;
    margin:0 auto;
}

.index_head2{
    font-size:60px;
    color:#013d7d;
}

.index_head3{
    font-size:64px;
    margin:0px;
    padding-top:50px;
}

.index_health{
    background-image:url("../img/water-fall.jpg");
    background-size:cover;
    overflow:hidden;
    min-height:500px;
}

.index_description{
    font-size:28px;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius:5px;
    padding:20px;
    color:white;
}

.filters{
    background-color: #cccccc; 
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/filters.jpg");
    background-size:cover;
    overflow:hidden;
    color:white;
    text-align:center;
    height:100%;
}

.background p{
    color:black;
}

.background .subtitle{
    color:#069ddc;
}

.flag{
    width:30px;
}

@media (max-width: 992px) { 
    .intro1{
        font-size:40px;
    }

    .intro2{
        font-size:40px;
    }
}
