/*
    Responsive design!
*/

html{
    height:100%;
    margin:0px;
    padding:0px;
}
body{
    margin:0px;
    height:100%; 
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     text-decoration:underline; 
     cursor:pointer;  
}

#titleBar{
    background-color:rgba(255, 255, 255,0.9);
    width:100%;
    position:fixed;
    top:0px;
    padding-top:10px;
}

#titleBar #logo{
    font-size:3vh;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.pouOption{
    width:100%;
}

.pouOption:hover{
    background-color:rgb(7, 155, 1);
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width:160px;
    padding:5px;
    margin:0px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#titleBar .clicked{
    color:white;
    background-color:rgb(7, 155, 1);
}

#titleBar .options{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width:80%;
}

#titleBar .option{
    flex-shrink: 1;
}

#titleBar a{
    color:black;
    text-decoration-line: none;
    flex-direction: row;
    vertical-align: text-bottom;
    font-size:16px;
    padding:10px;
    font-family: "BebasNeueBold", 'Arial Narrow', Arial, sans-serif;
}

.sectionImg{
    width:100%;
    max-width:300px;
    overflow: hidden;
    background-size:cover;
    overflow:hidden;
    display:block;
    margin:0 auto;
    margin-top:50px;
}

/* Content */

content{
    width:100%;
    height:100%;
    margin:auto;
}

content .background{
    width:100%;
    height:80%;
    background-color: #cccccc;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    justify-content: center;	
}

content .headings{
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 3;
    grid-row-end: 4;
}

content h2{
    color:white;
    text-align:center;
    margin:0 auto;
    font-size:calc(18px + 3vw);
    font-family: "BebasNeueBold", 'Arial Narrow', Arial, sans-serif;
    text-shadow:1px 1px rgba(88, 88, 88, 0.2);
}

content h3{
    color:rgb(7, 155, 1);
    text-align:center;
    margin:0px;
    font-size:calc(10px + 2vw);
    font-family: "BebasNeueBold", 'Arial Narrow', Arial, sans-serif;
    text-shadow:1px 1px rgba(88, 88, 88, 0.2);
}

content p{
    width:95%;
    margin:auto;
}

content .section{
    width:90%;
    margin:0 auto;
    padding-top:25px;
    margin-top:25px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;	
}

content .subSection{
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: 4;
}


content .subtitle{
    font-family: "BebasNeueBold", 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size:3vh;
}
content .info{
    font-size:2.5vh;
    width:50%;
    text-align:center;
}

content .list{
    display:block;
    font-size:2.5vh;
    width:45%;
    margin:0 auto;
}

content .pouLink{
    background:none;
    border:none;
    cursor: pointer;
    color: #0060B6;
    text-decoration: none;
    font-size:2.5vh;
}

content .pouLink:hover{
    text-decoration:underline; 
}

footer .endContent{
    font-size:1.5vh;
    width:100%;
    margin:0 auto;
    margin-top:50px;
    padding:10px 0 10px 0;
    text-align:center;
    background-color: #e6e6e6;
    color:rgb(71, 71, 71);
}

content .nextPage{
    border: solid 0 transparent;
    border-radius:5px;
    min-width:300px;
    width:60%;
    height:100px;
    font-size:24px;
    font-family:"BebasNeueBold", 'Arial Narrow', Arial, sans-serif;
    box-shadow:0px 1px 1px 0px black; 
    cursor: pointer;
    margin-top:10px;
}

@media all and (max-width: 800px) {
    #titleBar .options{
        width: 100%;
    }

    #titleBar .option{
        padding:5px;
    }

    content .info{
        font-size:3vh;
        width:95%;
        text-align:center;
    }

    content .list{
        width:85%;
    }

    content .section{
        width:100%;
        margin:0 auto;
        margin-top:40px;
    }

    .dropdown{
        display:inline;
    }

    .coffeeImg .kitchenImg .villageImg{
        width:100%;
        margin:0 auto;
    }
}

/* Pages */


content[id = "index"] .background{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url("../img/frontImage.jpg");
    background-size:cover;
    overflow:hidden;
}

content[id = "index"] #intro{
    background-color: #cccccc; 
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/waterfall.jpg");
    background-size:cover;
    overflow:hidden;    
    color:white;
    text-align:center;
    height:100%;
}

content[id = "index"] .subtitle{
    color:white;
}

content[id = "index"] .section{
    background-color: #cccccc; 
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/filters.jpg");
    background-size:cover;
    overflow:hidden;
    color:white;
    text-align:center;
    height:100%;
}

content[id = "index"] .nextPage{
    color:white;
    background-color:#0060B6; 
}

content[id = "index"] .nextPage:hover{
    color:white;
    background-color:rgb(0, 82, 153);
}

content[id = "health"] .background{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ),url("../img/theoryWater.jpg");
    background-size:cover;
    overflow:hidden;
}

content[id = "products"] .background{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/pouCover.jpg");
    background-size:cover;
    overflow:hidden;
}

content[id = "products"] .section{
    font-size:3vh;
    width:100%;
    text-align:center;
}


content[id = "specs"] .kitchenImg{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/kitchen.JPG");
    background-size:cover;
    width:50%;
    height:50%;
    margin:0 auto;
}


content[id = "specs"] .coffeeImg{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/coffee.jpg");
    background-size:cover;
    width:50%;
    height:50%;
    margin:0 auto;
}


content[id = "specs"] .villageImg{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/containerShip.jpg");
    background-size:cover;
    width:50%;
    height:50%;
    margin:0 auto;
}

content[id = "specs"] .section{
    width:100%;
    height:100%;
}

content[id = "specs"] .specTable{
    margin:0 auto;
}

content[id = "collaboration"] .background{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/international.png");
    background-size:cover;
    overflow:hidden;
}


content[id = "team"] .background{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url("../img/teamGeneric.jpg");
    background-size:cover;
    overflow:hidden;
}

content[id = "contact"] .section{
    padding-top:200px;
    width:100%;
    height:65%;
}




