/*
    Responsive design!
*/

html{
    height:100%;
    margin:0px;
    padding:0px;
    min-width:500px;
}
body{
    margin:0px;
    height:100%; 
}

h1, h2, h3, h4, h5, h6{
    font-size:24px;
    font-family: "BebasNeueBold", 'Arial Narrow', Arial, sans-serif;
    color:black;
}

p{
    margin-top:22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(36, 36, 36);
    font-size:18px;
}

footer p{
    font-size:14px;
}

#titleBar{
    /* background-color:white; */
    background-color:rgb(0, 119, 255);
    width:100%;
    height:40px;
    /* position:fixed; */
    top:0;
    padding:10px;
}

*:focus{ /* removes input dotted lines*/
    outline:none;
}

#titleBar #logo{
    font-size:24px;
}

#titleBar #logo:hover{
    color:rgb(184, 184, 184);
}


/* DROP DOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}

.pouOption{
    width:100%;
}

.pouOption:hover{
    background-color:rgb(9, 230, 1);
    color:white;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width:160px;
    padding:5px;
    margin:0px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#titleBar .clicked{
    color:rgb(9, 230, 1);
}

.options{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width:60%;
    margin:0 auto;
}

#titleBar .option{
    flex-shrink: 1;
}

#titleBar .option:hover:not(.clicked){
    color:rgb(184, 184, 184);
}


#titleBar a{
    color:black;
    text-decoration-line: none;
    flex-direction: row;
    vertical-align: text-bottom;
    font-size:16px;
    padding:10px;
    font-family: "BebasNeueBold", 'Arial Narrow', Arial, sans-serif;
}

.sectionImg{
    width:100%;
    max-width:600px;
    overflow: hidden;
    background-size:cover;
    overflow:hidden;
    display:block;
    margin:0 auto;
    margin-top:50px;
}

a {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

a:hover 
{
     text-decoration:underline; 
     cursor:pointer;  
}

content .pouLink{
    background:none;
    border:none;
    cursor: pointer;
    color: #0060B6;
    text-decoration: none;
    font-size:2.5vh;
}

content .pouLink:hover{
    text-decoration:underline; 
}

footer .footer{
    font-size:12px;
    width:100%;
    margin:0 auto;
    text-align:center;
    background-color: #e6e6e6;
    position:absolute;
}

content .nextPage{
    border: solid 0 transparent;
    border-radius:5px;
    width:300px;
    height:100px;
    font-size:24px;
    font-family:"BebasNeueBold", 'Arial Narrow', Arial, sans-serif;
    box-shadow:0px 1px 1px 0px black; 
    cursor: pointer;
    margin-top:10px;
}

@media all and (max-width: 800px) {
    #titleBar .options{
        width: 100%;
    }

    #titleBar{
        height:80px;
    }

    #titleBar .option{
        padding:5px;
    }

    content .info{
        font-size:3vh;
        width:95%;
        text-align:center;
    }

    content .list{
        width:85%;
    }

    content .section{
        width:100%;
        margin:0 auto;
        margin-top:40px;
    }

    .dropdown{
        display:inline;
    }
    .dropdown-content {
        position:fixed;
        left:0;
        width:100%;
    }

    .pouOption{
        padding:30px;
        font-size:24px;
    }

    .coffeeImg .kitchenImg .villageImg{
        width:100%;
        margin:0 auto;
    }
    
    
}



/* 

content[id = "health"] .background{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ),url("../img/theoryWater.jpg");
    background-size:cover;
    overflow:hidden;
}

content[id = "products"] .background{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/pouCover.jpg");
    background-size:cover;
    overflow:hidden;
}

content[id = "products"] .section{
    font-size:3vh;
    width:100%;
    text-align:center;
}


content[id = "specs"] .kitchenImg{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/kitchen.JPG");
    background-size:cover;
    width:100%;
    height:50%;
    margin:0 auto;
}


content[id = "specs"] .coffeeImg{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/coffee.jpg");
    background-size:cover;
    width:100%;
    height:50%;
    margin:0 auto;
}


content[id = "specs"] .villageImg{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/containerShip.jpg");
    background-size:cover;
    width:100%;
    height:50%;
    margin:0 auto;
}

content[id = "specs"] .section{
    width:100%;
    height:100%;
}

content[id = "specs"] .specTable{
    margin:0 auto;
}

content[id = "collaboration"] .background{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ),url("../img/international.png");
    background-size:cover;
    overflow:hidden;
}


content[id = "team"] .background{
    background-color: #cccccc;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url("../img/teamGeneric.jpg");
    background-size:cover;
    overflow:hidden;
}

content[id = "contact"] .section{
    padding-top:200px;
    width:100%;
    height:65%;
}



 */
